<div th:fragment="contenido">

    <div class="card-custom">
        <h4>Asignar Roles</h4>
        <form th:action="@{/usuarios/asignar-roles}" method="post">
            <input type="hidden" name="idUsuario" th:value="${usuario.idUsuario}"/>
            <div class="mb-3">
                <label>Roles</label>
                <div class="form-check" th:each="r : ${roles}">
                    <input class="form-check-input" type="checkbox" name="roles" th:value="${r.idRol}"/>
                    <label class="form-check-label" th:text="${r.nombre}"></label>
                </div>
            </div>
            <button class="btn btn-success">Guardar</button>
        </form>

    </div>

</div>