<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuario</title>
</head>
<body>

<h1>Formulario Usuario</h1>

<form th:action="@{/usuarios}" th:object="${usuario}" method="post">

    <input type="hidden" th:field="*{idUsuario}" />

    <label>Nombre:</label>
    <input type="text" th:field="*{nombreCompleto}" />

    <br>

    <label>Clave:</label>
    <input type="password" th:field="*{clave}" />

    <br>

    <button type="submit">Guardar</button>

</form>

<a href="/usuarios">Volver</a>

</body>
</html>