<div th:fragment="contenido">

    <div class="card-custom">
        <h4>Crear Usuario</h4>
        <form th:action="@{/usuarios}" th:object="${usuario}" method="post">
            <input type="hidden" th:field="*{idUsuario}" />
            <div class="mb-3">
                <label>Nombre</label>
                <input type="text" th:field="*{nombreCompleto}" class="form-control"/>
            </div>
            <div class="mb-3">
                <label>Clave</label>
                <input type="password" th:field="*{clave}" class="form-control"/>
            </div>
            <button class="btn btn-success">Guardar</button>
        </form>

    </div>

</div>