<div th:fragment="contenido">

    <div class="card-custom">
        <h4>Crear Usuario</h4>
        <form th:action="@{/usuarios}" th:object="${usuario}" method="post">

            <div class="mb-3">
                <label>Nombre Completo</label>
                <input type="text" th:field="*{nombreCompleto}" class="form-control" required/>
            </div>

            <div class="mb-3">
                <label>Correo Institucional</label>
                <input type="email" th:field="*{correoInstitucional}" class="form-control" required/>
            </div>

            <div class="mb-3">
                <label>Programa Académico</label>
                <input type="text" th:field="*{programaAcademico}" class="form-control" required/>
            </div>

            <div class="mb-3">
                <label>Semestre Académico</label>
                <input type="number" th:field="*{semestreAcademico}" class="form-control" required/>
            </div>

            <div class="mb-3">
                <label>Contraseña</label>
                <input type="password" th:field="*{clave}" class="form-control" required/>
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="/usuarios" class="btn btn-secondary">Cancelar</a>
        </form>

    </div>

</div>