<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Asignar Permisos</title>
</head>
<body>

<h1>Asignar Permiso</h1>

<form th:action="@{/roles/asignar-permisos}" method="post">

    <input type="hidden" name="idRol" th:value="${rol.idRol}" />

    <label>Permiso:</label>
    <select name="idPermission">
        <option th:each="p : ${permisos}"
                th:value="${p.idPermission}"
                th:text="${p.nombre}">
        </option>
    </select>

    <br>

    <button type="submit">Asignar</button>

</form>

<a href="/roles">Volver</a>

</body>
</html>