<div th:fragment="contenido">

    <div class="card-custom">
        <h4>Asignar Permisos</h4>
        <form th:action="@{/roles/asignar-permisos}" method="post">
            <input type="hidden" name="idRol" th:value="${rol.idRol}"/>
            <div class="mb-3">
                <label>Permisos</label>
                <div class="form-check" th:each="p : ${permisos}">
                    <input class="form-check-input" type="checkbox" name="permisos" th:value="${p.idPermission}"/>
                    <label class="form-check-label" th:text="${p.nombre}"></label>
                </div>
            </div>
            <button class="btn btn-success">Guardar</button>
        </form>

    </div>

</div>