<div th:fragment="contenido">

    <div class="card-custom">
        <div class="d-flex justify-content-between mb-3 align-items-center">
            <h4>Roles</h4>
            <a href="/roles/nuevo" class="btn btn-success">+ Crear Rol</a>
        </div>
        <table class="table table-hover align-middle mt-4">
            <thead class="table-light">
            <tr>
                <th>Nombre</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${roles}">
                <td th:text="${r.nombre}"></td>
                <td>
                    <a th:href="@{'/roles/asignar-permisos/' + ${r.idRol}}"
                       class="btn btn-outline-primary btn-sm">
                        Permisos
                    </a>
                    <a th:href="@{'/roles/eliminar/' + ${r.idRol}}"
                       class="btn btn-outline-primary btn-sm">
                        Eliminar
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>